<!-- @@master = ../layouts/layout.html {} -->
<!-- @@block = content -->
<!-- DECORATION ЁPTA -->
<div class="section__container">
    <!--<img src="/images/left-line-2.png" alt="" style="position: absolute; left: 26.8%;">-->
    <!--<img src="/images/right-line-2.png" alt="" style="position: absolute; right: 11.7%">-->
    <div class="line line--left">
        <img src="./images/decore-el-6.png" alt="" style="position: absolute;top: 2315px;right: 1px;">
    </div>
    <div class="line line--right"></div>
</div>

<img id="digital" src="/images/digital.png" alt="" style="position: absolute; top: 585px; left: -3%">
<img src="./images/R-element.png" alt="" id="R-element">
<img src="./images/A-element.png" alt="" id="A-element" style="top: 800px">
<img src="./images/small-shuttle.png" alt="" id="small-shuttle" style="top: 850px;">
<div id="carrot-wrapper" style="position: absolute; top: 2220px; right: 5%;">
    <img id="carrot-2" src="/images/carrot.png" alt="" style="position: absolute; right: 0">
</div>
<img src="/images/rectangle.png" alt="" style="position: absolute; top: 2250px; right: 5%">
<!-- DECORATION ЁPTA -->
<div class="section section--cases-item">
    <div class="section__inner">

        <div class="case-page">
            <img src="/images/case-page-promo.jpg" alt="" class="case-page__promo">
            <div class="section__container">
                <div class="section__column section__column--col-sm-offset-2 section__column--col-md-offset-3">
                    <div class="section__title">
                        <h1 class="h3">
                            Лондонский кэб <br>
                            от Ahmad Tea Music <br>
                            Festival и Uber
                        </h1>
                    </div>
                </div>
            </div>

            <div class="section__container">
                <div class="section__row">
                    <div class="section__column section__column--col-md-5 section__column--col-sm-offset-2 section__column--col-md-offset-3">
                        <div class="case-page__tasks">
                            <span class="section__number">.001</span>
                            <h2 class="h4">Задачи</h2>
                            <div class="case-page__text">
                                <p>
                                    Привлечь к фестивалю британской музыки Ahmad Tea Music Festival внимание целевой аудитории,
                                    которая не смотрит телевизор и слабо чувствительна к рекламе.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section__row">
                    <div class="section__column section__column--col-sm-offset-2 section__column--col-md-offset-3">
                        <div class="case-page__solution">
                            <span class="section__number">.002</span>
                            <h2 class="h4">Решение</h2>
                            <div class="case-page__text">
                                <p>
                                    Мы погрузили московскую публику в атмосферу британской культуры с помощью одного из ее
                                    традиционных символов — лондонского кэба. Через такси-сервис Uber каждый желающий мог заказать
                                    себе статусный Rolls Royce или Bentley с чопорным англичанином за рулем. В машине участников
                                    акции ждал истинно английский чай Ahmad, современная британская музыка от хедлайнеров Ahmad Tea
                                    Music Festival и билеты на сам фестиваль. Кампанию анонсировали популярные блогеры с количеством
                                    подписчиков от 15 000 до 1 000 0000, городские онлайн-издания
                                    The Village и Afisha.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section__slider">
                <div class="case-page__slider">
                    <div class="case-page__slider-wrapper case-page__slider-wrapper--bg">
                        <div class="case-page__carousel-bg owl-carousel">
                            <div><img src="/images/case-page-slider.jpg" alt=""></div>
                            <div><img src="/images/case-page-slider.jpg" alt=""></div>
                            <div><img src="/images/case-page-slider.jpg" alt=""></div>
                            <div><img src="/images/case-page-slider.jpg" alt=""></div>
                        </div>
                        <div class="case-page__carousel owl-carousel">
                            <div><img src="/images/case-page-slider.jpg" alt=""></div>
                            <div><img src="/images/case-page-slider.jpg" alt=""></div>
                            <div><img src="/images/case-page-slider.jpg" alt=""></div>
                            <div><img src="/images/case-page-slider.jpg" alt=""></div>
                        </div>
                    </div>
                    <div class="case-page__slider-wrapper">
                        <div class="case-page__slider-nav">
                            <div class="case-page__slider-counter">0 / 0</div>
                        </div>
                        <div class="case-page__slider-title">
                            Погружение в ночную жизнь столицы.
                        </div>
                    </div>
                </div>
            </div>

            <div class="section__container">
                <div class="section__column section__column--col-sm-10 section__column--col-md-8  section__column--col-sm-offset-2 section__column--col-md-offset-3">
                    <div class="case-page__result">
                        <span class="section__number">.003</span>
                        <h2 class="h4">Результат</h2>
                        <div class="case-page__text">
                            <ul>
                                <li>900 000 охвачено за 2 дня акции через блогеров</li>
                                <li>35 000 лайков в аккаунтах блогеров</li>
                                <li>965 использовали промокод Ahmad в Uber</li>
                                <li>460 билетов разыграно</li>
                                <li>400 000 просмотров making-of-видео</li>
                                <li>7 500 переходов с видео на сайт</li>
                            </ul>
                        </div>
                    </div>
                    <div class="case-page__pagination">
                        <a href="#" class="case-page__paginate-link case-page__paginate-link--prev">Предыдущий проект</a>
                        <a href="#" class="case-page__paginate-link case-page__paginate-link--next">Следующий проект</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<!-- @@close-->