<!-- @@master = ../layouts/layout.html {} -->
<!-- @@block = content -->

<div class="section section--cases">
    <div class="section__inner">

        <div class="section__container">
            <div class="line line--left"></div>
            <div class="line line--right">
                <div id="decorate-cases-wrapper" style="position: absolute; top: 850px; right: 0;">
                    <img id="decorate-cases" src="/images/decoration-cases-page.png" alt="" style="position: absolute; right: 0; transform: translateX(50%)">
                </div>
            </div>
        </div>
        <img id="digital" src="/images/digital.png" alt="" style="position: absolute; top: 130px; right: 5%">
        <img src="./images/R-element.png" alt="" id="R-element">
        <div id="cells-wrapper" style="position: absolute; top: 1150px; left: 13%">
            <img id="cells" src="/images/cells-decoration.png" alt="" style="position: absolute;">
        </div>
        <div id="carrot-wrapper" style="position: absolute; top: 2220px; right: 5%;">
            <img id="carrot-2" src="/images/carrot.png" alt="" style="position: absolute; right: 0">
        </div>

        <div class="section__container">
            <div class="section__column section__column--col-sm-offset-3 section__column--col-md-offset-4">
                <div class="section__title">
                    <h1 class="h2">
                        Fast.<br>
                        Cleaver.<br>
                        Obsessed.
                    </h1>
                </div>
            </div>
        </div>

        <div class="section__container">
            <div class="section__row">
                <div class="section__column section__column--col-sm-offset-2">
                    <!-- cases -->
                    <div class="cases">
                        <div class="cases__row">
                            <!-- item -->
                            <div class="cases__item cases__item--pad-right cases__item--offset-top">
                                <a href="/case-item.html" class="cases__item-wrapper">
                                    <div class="cases__item-bg" style="background-image: url(/images/cases/case-001.jpg)"></div>
                                    <div class="cases__item-bg-hover"></div>
                                    <div class="cases__border-hover"></div>
                                    <div class="cases__item-inner">
                                        <div class="cases__item-number">.001</div>
                                        <div class="cases__item-title">
                                            Лондонский кэб
                                            от Ahmad Tea Music Festival
                                            и Uber
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- / item -->
                            <!-- item -->
                            <div class="cases__item cases__item--pad-left">
                                <a href="/case-item.html" class="cases__item-wrapper">
                                    <div class="cases__item-bg" style="background-image: url(/images/cases/case-002.jpg)"></div>
                                    <div class="cases__item-bg-hover"></div>
                                    <div class="cases__border-hover"></div>
                                    <div class="cases__item-inner">
                                        <div class="cases__item-number">.002</div>
                                        <div class="cases__item-title">
                                            Ahmad Tea Music Festival
                                            в московской подземке
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- / item -->
                        </div>
                        <div class="cases__row">
                            <!-- item -->
                            <div class="cases__item cases__item--pad-right">
                                <a href="/case-item.html" class="cases__item-wrapper">
                                    <div class="cases__item-bg" style="background-image: url(/images/cases/case-003.jpg)"></div>
                                    <div class="cases__item-bg-hover"></div>
                                    <div class="cases__border-hover"></div>
                                    <div class="cases__item-inner">
                                        <div class="cases__item-number">.003</div>
                                        <div class="cases__item-title">
                                            «Неприкрытая польза салатов» Белая Дача
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- / item -->
                            <!-- item -->
                            <div class="cases__item cases__item--pad-left cases__item--offset-top">
                                <a href="/case-item.html" class="cases__item-wrapper">
                                    <div class="cases__item-bg" style="background-image: url(/images/cases/case-004.jpg)"></div>
                                    <div class="cases__item-bg-hover"></div>
                                    <div class="cases__border-hover"></div>
                                    <div class="cases__item-inner">
                                        <div class="cases__item-number">.004</div>
                                        <div class="cases__item-title">
                                            «Миксология» PepsiCo
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- / item -->
                        </div>
                        <div class="cases__row">
                            <!-- item -->
                            <div class="cases__item cases__item--pad-right cases__item--offset-top">
                                <a href="/case-item.html" class="cases__item-wrapper">
                                    <div class="cases__item-bg" style="background-image: url(/images/cases/case-005.jpg)"></div>
                                    <div class="cases__item-bg-hover"></div>
                                    <div class="cases__border-hover"></div>
                                    <div class="cases__item-inner">
                                        <div class="cases__item-number">.005</div>
                                        <div class="cases__item-title">
                                            Битва перерывов KitKat
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- / item -->
                            <!-- item -->
                            <div class="cases__item cases__item--pad-left">
                                <a href="/case-item.html" class="cases__item-wrapper">
                                    <div class="cases__item-bg" style="background-image: url(/images/cases/case-006.jpg)"></div>
                                    <div class="cases__item-bg-hover"></div>
                                    <div class="cases__border-hover"></div>
                                    <div class="cases__item-inner">
                                        <div class="cases__item-number">.006</div>
                                        <div class="cases__item-title">
                                            The Macallan Masters of Taste
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- / item -->
                        </div>
                        <div class="cases__row">
                            <!-- item -->
                            <div class="cases__item cases__item--pad-right">
                                <a href="/case-item.html" class="cases__item-wrapper">
                                    <div class="cases__item-bg" style="background-image: url(/images/cases/case-007.jpg)"></div>
                                    <div class="cases__item-bg-hover"></div>
                                    <div class="cases__border-hover"></div>
                                    <div class="cases__item-inner">
                                        <div class="cases__item-number">.007</div>
                                        <div class="cases__item-title">
                                            Мобильное приложение РАНХиГС
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- / item -->
                            <!-- item -->
                            <div class="cases__item cases__item--pad-left cases__item--offset-top">
                                <a href="/case-item.html" class="cases__item-wrapper">
                                    <div class="cases__item-bg" style="background-image: url(/images/cases/case-008.jpg)"></div>
                                    <div class="cases__item-bg-hover"></div>
                                    <div class="cases__border-hover"></div>
                                    <div class="cases__item-inner">
                                        <div class="cases__item-number">.008</div>
                                        <div class="cases__item-title">
                                            Philips Avent на Тутта ТВ
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- / item -->
                        </div>
                        <div class="cases__row">
                            <!-- item -->
                            <div class="cases__item cases__item--pad-right cases__item--offset-top">
                                <a href="/case-item.html" class="cases__item-wrapper">
                                    <div class="cases__item-bg" style="background-image: url(/images/cases/case-009.jpg)"></div>
                                    <div class="cases__item-bg-hover"></div>
                                    <div class="cases__border-hover"></div>
                                    <div class="cases__item-inner">
                                        <div class="cases__item-number">.009</div>
                                        <div class="cases__item-title">
                                            25 час с E-ON
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- / item -->
                            <!-- item -->
                            <div class="cases__item cases__item--pad-left">
                                <a href="/case-item.html" class="cases__item-wrapper">
                                    <div class="cases__item-bg" style="background-image: url(/images/cases/case-010.jpg)"></div>
                                    <div class="cases__item-bg-hover"></div>
                                    <div class="cases__border-hover"></div>
                                    <div class="cases__item-inner">
                                        <div class="cases__item-number">.010</div>
                                        <div class="cases__item-title">
                                            Освежи эМОТции с Fresh Bar
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- / item -->
                        </div>
                    </div>
                    <!-- / cases -->
                </div>
            </div>
            <div class="section__row">
                <div class="section__column section__column--col-sm-offset-4" style="padding-top: 30px">
                    <a class="btn btn--primary" id="show-more" role="button">Показать еще</a>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- @@close-->