<!-- @@master = ../layouts/layout.html { "scroll" : "scroll" } -->
<!-- @@block = content -->
<div class="section__container">
    <div class="line line--left"></div>
    <div class="line line--right"></div>
</div>
<img src="./images/A-element.png" alt="" id="A-element">
<img src="./images/R-element.png" alt="" id="R-element">
<img src="./images/digital.png" alt="" id="digital">
<img src="./images/small-shuttle.png" alt="" id="small-shuttle">
<img src="./images/rectangle.png" alt="" id="rectangle">
<div class="section section__main" id="main-section">
    <div class="section__container">
        <div class="section__main-numbering-block">
            <div class="number-of-section">.01</div>
        </div>
        <div class="section__column section__column--col-sm-offset-4">
            <div class="section__title">
                <p class="h2">
                    Независимое<br/>digital-агентство<br/>Rabbit
                </p>
            </div>
        </div>
        <div class="pagination-el pagination-el__main">
            <a href="#" class="pagination-el__page active">1</a>
            <a href="#activity-section" class="pagination-el__page">2</a>
        </div>
        <div class="action-block action-block__main-zero">
            <p class="action-block__number">.00</p>
            <p class="action-block__inner_text">Ставим <a href="#" class="action-block__inner_text-attention">результат</a><br/>выше процесса.</p>
        </div>
        <div class="action-block action-block__main-first">
            <p class="action-block__number">.01</p>
            <p class="action-block__inner_text">Берем на себя риски и уважаем <span>сроки</span>.</p>
        </div>
        <div class="action-block action-block__main-tenth">
            <p class="action-block__number">.10</p>
            <p class="action-block__inner_text">Пишем <span>стратегии</span><br/>с чистого листа.</p>
        </div>

    </div>
</div>
<div class="section section__activity" id="activity-section">
    <div class="number-of-section number-of-section--second">.02</div>
    <div class="section__container">

        <div class="line line--left" style="height: 100%">
            <img src="./images/decore-el-2.png" alt="" style="position: absolute; right: 1px; top: 500px;">
        </div>
        <div class="line line--right" style="height: 100%">
            <img src="/images/decore-el-7.jpg" alt="" style="position: absolute; bottom: 100px; left: -36px;">
        </div>

        <img src="./images/big-rabbit.png" alt="" id="big-rabbit">
        <div class="section__column section__column--col-sm-offset-4">
            <div class="section__title section__title--whatwe-do">
                <p class="h2">
                    Что мы делаем
                </p>
            </div>
        </div>
        <div class="pagination-el pagination-el__actions">
            <a href="#main-section" class="pagination-el__page pagination-el__page--dark">1</a>
            <a href="#" class="pagination-el__page pagination-el__page--dark active">2</a>
        </div>
        <div class="action-block action-block__actions-zero">
            <p class="action-block__number">.00</p>
            <p class="action-block__title">Digital-креатив</p>
            <p class="action-block__inner_text action-block__inner_text--second-section">Креативные концепции<br/>Спецпроекты<br/>Кросс-платформенные решения</p>
        </div>
        <div class="action-block action-block__actions-first">
            <p class="action-block__number">.01</p>
            <p class="action-block__title">Контентные решения</p>
            <p class="action-block__inner_text action-block__inner_text--second-section">Видео производство<br/>Текстографический контент<br/>Digital BTL</p>
        </div>
        <div class="action-block action-block__actions-tenth">
            <p class="action-block__number">.10</p>
            <p class="action-block__title">Работа с лидерами мнений</p>
            <p class="action-block__inner_text action-block__inner_text--second-section">Звезды и медийные лица<br/>Instagram, видео, пишущие блогеры<br/>Популярыне пользователи</p>
        </div>
    </div>
    <img src="./images/decore-el-1.png" alt="" style="position: absolute; bottom: -46px; left: 626px;">
</div>
<div class="section section__clients" id="clients">
    <div class="number-of-section number-of-section--third"><span style="color: #2e4cff">.</span>03</div>
    <img src="./images/left-line_second-section.png" alt="" class="clients-left-stripe">
    <img src="./images/decore-el-3.png" alt="" class="decore-el-3">
    <img src="./images/decore-el-4.jpg" alt="" class="decore-el-4">
    <img src="./images/carrot.png" alt="" style="" id="carrot">
    <img src="./images/big-shuttle.png" alt="" style="" id="big-shuttle">
    <div class="section__container">
        <div class="section__row">
            <div class="section__column section__column--col-sm-offset-4">
                <div class="section__title">
                    <p class="h2">
                        Наши клиенты
                    </p>
                </div>
            </div>
        </div>
        <div class="clients">
            <div class="breadcrumbs__wrapper">
                <div class="breadcrumbs-content agency-brands_switch">
                    <a href="#" class="active">Бренды</a><sup style="padding: 5px; position: relative; top: -20px">15</sup> /&nbsp;&nbsp;&nbsp;<a href="#">Агенства</a><sup style="padding: 5px; position: relative; top: -20px">12</sup>
                </div>
            </div>
            <div class="clients__grid">
                <div class="clients__grid-elements"><a href=""><img src="./images/clients/pandora.png" alt=""></a></div>
                <div class="clients__grid-elements"><a href=""><img src="./images/clients/adwatchisobar.png" alt=""></a></div>
                <div class="clients__grid-elements"><a href=""><img src="./images/clients/efes.png" alt=""></a></div>
                <div class="clients__grid-elements"><a href=""><img src="./images/clients/pepsi.png" alt=""></a></div>
                <div class="clients__grid-elements"><a href=""><img src="./images/clients/akrihin.png" alt=""></a></div>
                <div class="clients__grid-elements"><a href=""><img src="./images/clients/dymov.png" alt=""></a></div>
                <div class="clients__grid-elements"><a href=""><img src="./images/clients/macallan.png" alt=""></a></div>
            </div>
        </div>
    </div>
    <img src="./images/decore-el-5.png" alt="" class="decore-el-5">
</div>
<!-- @@close-->